body {
  color: #444444;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.28571429em;
  margin: calc(0.85714286em) 0 1em;
  padding: 0;
}
h1 {
  min-height: 1em;
  font-size: 2.441em;
}
h2 {
  font-size: 1.953em;
}
h3 {
  font-size: 1.563em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
/*.ul-ui {
    &.container {
        padding: @xlg;
    }
}*/
/* ======================================== ANCHORS */
a,
a:visited {
  text-decoration: none;
  position: relative;
  color: #c02032;
  cursor: pointer;
}
a:hover,
a:active {
  color: #666666 !important;
}
a:after,
a:visited:after {
  content: '';
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #e56170;
  transition: 0.2s;
}
a:hover:after,
a:visited:hover:after {
  width: 100%;
}
a.block,
a:visited.block {
  padding: 0.5em;
  display: block;
}
a.block.active {
  background: #f5f5f5;
}
a.block:hover,
a:visited.block:hover {
  background: #f5f5f5;
}
/* ------------
    Utilities  
---------------*/
.lg-shadow {
  -webkit-box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
}
.shadow {
  -webkit-box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.75);
}
.sm-shadow {
  -webkit-box-shadow: 10px 10px 10px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 10px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 10px -12px rgba(0, 0, 0, 0.75);
}
.red-bkg {
  background-color: red;
  color: white;
}
.ul-ui .divider {
  margin: 2.441em 0;
  height: 1px;
  width: 100%;
  background-color: #939598;
}
/*========================== Example */
.ul-ui.container.example.open {
    padding-left: 280px;
    padding-right: 30px;
    padding-bottom: 40px;
}
.ul-ui.container.example {
    padding-left: 0;
    width: 100%;
    background-color: transparent;
    overflow: auto;
}
.example.toc {
    width: 15em;
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-x: scroll;
    height: 100%;
}
/*================================= TYPOGRAPHY */
p {
    margin: 0 0 1em;
    line-height: 1.4285em;
}
p {
    margin: 0 0 1em;
    line-height: 1.4285em;
}
/*==================================== MENU */
.ul-ui.vertical.menu {
    width: 15rem;
}
.ul-ui.vertical.menu {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}
.ul-ui.menu:last-child {
    margin-bottom: 0;
}
.ul-ui.menu:first-child {
    margin-top: 0;
}
.ul-ui.menu {
    font-size: 1em;
}
.ul-ui.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1em 0;
    background: #fff;
    font-weight: 400;
    min-height: 2.441em;
}
.ul-ui.vertical.menu .item {
    display: block;
    background: 0 0;
    border-top: none;
    border-right: none;
    padding: 1em;
}
.ul-ui.menu .active.item {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.95);
    font-weight: 400;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ul-ui.menu .item {
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: 0.8em 1.563em;
    text-transform: none;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    -webkit-transition: background 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: background 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
    transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
}
.ul-ui.vertical.menu .item > .header:not(.ul-ui):first-child {
    margin-top: -1em;
}
.ul-ui.vertical.menu .item > .header:not(.ul-ui) {
    margin: 0 -1em;
    font-size: 1em;
    font-weight: 700;
    padding: 1em;
}
.ul-ui.vertical.menu .item > .menu {
    margin: 0.5em -1em 0;
}
.ul-ui.menu .menu {
    margin: 0;
}
.ul-ui.dividing.header {
    padding-bottom: 0.2em;
    border-bottom: 1px solid #c7c9c9;
}
h1.ul-ui.header {
    font-size: 2.441em;
}
.ul-ui.header {
    border: none;
    margin: calc(1.85714286rem) 0 1rem;
    padding: 0 0;
    line-height: 1.28571429em;
    text-transform: none;
    color: rgba(0, 0, 0, 0.87);
}
.ul-ui.vertical.menu .item:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(34, 36, 38, 0.1);
}
.ul-ui.menu .item:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background: rgba(34, 36, 38, 0.1);
}
.ul-ui.vertical.menu .active.item {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-right: 4px solid #c02032;
}
/*==================================== LIST */
.ul-ui.bulleted.list {
    margin-left: 1.25em;
}
.ul-ui.list {
    list-style-type: none;
    margin: 1em 0em;
    padding: 0.64em;
}
.ul-ui.bulleted.list .list > .item, .ul-ui.bulleted.list > .item {
    position: relative;
    margin-bottom: 10px;
}
.ul-ui.list .list > .item:first-child, .ul-ui.list > .item:first-child {
    padding-top: 0em;
}
.ul-ui.list > .item, .ul-ui.list .list > .item {
    display: list-item;
    table-layout: fixed;
    list-style-type: none;
    list-style-position: outside;
    padding: 0.64em 0em;
    line-height: 1em;
}
.ul-ui.bulleted.list .list > .item:before, .ul-ui.bulleted.list > .item:before {
    pointer-events: none;
    position: absolute;
    top: auto;
    left: auto;
    font-weight: normal;
    margin-left: -1.25em;
    content: '•';
    opacity: 1;
    color: inherit;
    vertical-align: top;
}
.ul-ui.list > .list > .item, .ul-ui.list > .item:after {
    content: '';
    display: block;
    clear: both;
}
/*=================================== BUTTONS */
.ul-ui.buttons .button, .ul-ui.buttons .or, .ul-ui.button, .ul-ui.base.buttons .button, .ul-ui.base.buttons .or, .ul-ui.base.button {
    font-size: 1em;
}
.ul-ui.button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outlined: none;
    border: none;
    vertical-align: baseline;
    background-color: #e1e2e2;
    color: #666666;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0em 0.25em 0em 0em;
    padding: 0.8em 3.052em;
    text-transform: none;
    text-shadow: none;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.25em;
    letter-spacing: 0.04em;
}
.ul-ui.xxsm.buttons .button, .ul-ui.xxsm.buttons .or, .ul-ui.xxsm.button {
    font-size: 0.512em;
}
.ul-ui.xsm.buttons .button, .ul-ui.xsm.buttons .or, .ul-ui.xsm.button {
    font-size: 0.64em;
}
.ul-ui.small.buttons .button, .ul-ui.small.buttons .or, .ul-ui.small.button {
    font-size: 0.8em;
}
.ul-ui.buttons .button, .ul-ui.buttons .or, .ul-ui.button, .ul-ui.base.buttons .button, .ul-ui.base.buttons .or, .ul-ui.base.button {
    font-size: 1em;
}
.ul-ui.medium.buttons .button, .ul-ui.medium.buttons .or, .ul-ui.medium.button {
    font-size: 1.25em;
}
.ul-ui.large.buttons .button, .ul-ui.large.buttons .or, .ul-ui.large.button {
    font-size: 1.563em;
}
.ul-ui.fluid.button {
    display: block;
}
.ul-ui.fluid.buttons, .ul-ui.fluid.button {
    width: 100%;
}
.ul-ui.red.buttons .button, .ul-ui.red.button {
    background-color: #c02032;
    color: #FFFFFF;
}
.ul-ui.red.buttons .button:hover, .ul-ui.red.button:hover {
    background-color: #892433;
}
.ul-ui.icon.buttons .button, .ul-ui.icon.button {
    padding: 0.78571429em 0.78571429em 0.78571429em;
}
.ul-ui.icon.buttons .button > .icon, .ul-ui.icon.button > .icon {
    opacity: 0.9;
    margin: 0em !important;
    vertical-align: top;
}
.ul-ui.button > .icon:not(.button) {
    height: 0.85714286em;
    opacity: 0.8;
    margin: 0em 0.42857143em 0em -0.21428571em;
    -webkit-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
    vertical-align: '';
    color: '';
}
.ul-ui.teal.buttons .button, .ul-ui.teal.button {
    background-color: #007584;
    color: #FFFFFF;
}
/*==================================== ALERT */
.ul-ui.alert {
    font-size: 1em;
}
.ul-ui.alert {
    position: relative;
    min-height: 1em;
    margin: 1em 0em;
    background: #e1e2e2;
    padding: 1em 1.25em;
    line-height: 1.25em;
    color: #444444;
}
.ul-ui.alert p:last-child {
    margin-bottom: 0em;
}
.ul-ui.alert p:first-child {
    margin-top: 0em;
}
.ul-ui.alert > :last-child {
    margin-bottom: 0em;
}
.ul-ui.alert > :first-child {
    margin-top: 0em;
}
.ul-ui.alert p {
    opacity: 0.8;
}

/*=========================== ICON */
i.icon, i.icons {
    font-size: 1em;
}
